*.log
.DS_Store
.deploy/production-settings.json
.deploy/staging-settings.json
.node_red_jsons
.node_red_jsons/
features/test_db
log.txt
logs.txt
logs/*
meteor_settings.js
meteor_settings.json
node_modules
node_modules/
node_red_jsons
node_red_jsons/
package-lock.json
package-lock.json
public/.DS_Store
screenshots/*
test/mongo_db
testcafe/mongo_db/*
testcafe/mongo_db2/*
testcafe/screenshots/*