.DS_Store
*.log
.deploy/production-settings.json
.deploy/staging-settings.json
.node_red_jsons
.node_red_jsons/
features/test_db
log.txt
logs.txt
logs/*
node_modules
node_modules/
node_red_jsons
node_red_jsons/
package-lock.json
package-lock.json
public/.DS_Store
screenshots/*
settings-development.json
settings-production.json
settings.json
settings.json
test/mongo_db
testcafe/mongo_db/*
testcafe/mongo_db2/*
testcafe/screenshots/*
public/.DS_Store
public/.DS_Store
public/.DS_Store
meteor_settings.json
.meteor/*
.meteor/local/*
.meteor/local/db/*
